#header {
    border-bottom: 3px solid black; 
    margin-bottom: 10px;
}

#header #cart .heading h4 {
    background: red;
    width: 32px;
    height: 32px;
    float: left;
    margin: 4px 0px 0 0;
    padding: 0;
    z-index: 1012;
    position: relative;
}

a.button, input.button {
    background: red;
}

.ttq-cart-image {
    width: 40px;
    height: 40px;
}