<h1 class="ttq-title" style="margin-bottom: 20px;">Thông tin giỏ hàng</h1>
<form enctype="multipart/form-data" method="post" action="">
  <div class="cart-info">
    <table>
      <thead>
        <tr>
          <td class="image">#</td>
          <td class="name">Tên máy</td>
          <td class="model">Hãng</td>
          <td class="quantity">Số lượng</td>
          <td class="price">Đơn giá</td>
          <td class="total">Thành tiền</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sp of cartInfo.sanPhams">
          <td class="image"><a href="product.html"><img class="ttq-cart-image" src="assets/image/products/{{sp.hinh}}" alt="{{sp.ten}}" /></a></td>
          <td class="name"><a href="product.html">{{sp.ten}}</a></td>
          <td class="model">{{sp.hang.ten}}</td>
          <td class="quantity">
            <!-- <input type="text" size="1" value="{{sp.soLuong}}" name="" class="w30">
            &nbsp;
            <input type="image" title="Update" alt="Update" src="assets/template/image/update.png">
            &nbsp;<a href="#"><img title="Remove" alt="Remove" src="assets/template/image/remove.png"></a></td> -->
            <a class="qtyBtn mines" (click)="decreaseQuantity(sp)">-</a>
            <input id="qty" type="text" class="w30" name="quantity" size="2" value="{{sp.soLuong}}" />
            <a class="qtyBtn plus" (click)="increaseQuantity(sp)">+</a>
            <input type="hidden" name="product_id" size="2" value="30" />
          </td>
          <td class="price">{{sp.giaBan.toLocaleString()}}</td>
          <td class="total">{{(sp.giaBan*sp.soLuong).toLocaleString()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div class="cart-total">
  <table id="total">
    <tbody>
      <tr>
        <td class="right"><b>Tổng cộng: </b></td>
        <td class="right">{{cartInfo.tongTien.toLocaleString()}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="checkout">
    <div class="checkout-heading">Nội dung thanh toán</div>
    <div class="ttq-checkout" >
      <table class="form">
        <tbody>
          <tr>
            <td><span class="required">*</span> Họ tên: </td>
            <td><input type="text" class="large-field" [(ngModel)]="userInfo.tenKhachHang"></td>
          </tr>
          <tr>
            <td><span class="required">*</span> Số điện thoại: </td>
            <td><input type="text" class="large-field" [(ngModel)]="userInfo.soDienThoai"></td>
          </tr>
          <tr>
            <td><span class="required">*</span> Địa chỉ giao hàng: </td>
            <td><input type="text" class="large-field" [(ngModel)]="userInfo.diaChi"></td>
          </tr>
          <tr>
            <td><span class="required">*</span> Ghi chú đơn hàng: </td>
            <td><textarea class="large-field ttq-textarea" [(ngModel)]="userInfo.ghiChu"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class="buttons">  
  <div class="right"><a class="button" style="color: white;" (click)="thanhToanHoaDon()">Thanh toán</a></div>
  <div class="right" style="margin-right: 20px; color: white;"><a class="button" (click)="xoaGioHang()">Xóa giỏ hàng</a></div>
  <div class="left"><a class="button" routerLink="">Tiếp tục mua hàng</a></div>
</div>
