.mat-tab-header {
    margin-bottom: 20px;
}
/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    font-size: 1.2em;
    background-color: transparent;
    font-weight: 700;
}

.mat-ripple-element {
    display: none;
}

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
} */

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: red;
}